# =========================
# C++ Build Files
# =========================
*.out
*.exe
*.o
*.obj
*.a
*.lib

# =========================
# Build Directories
# =========================
build/
bin/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.log
